*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(70, 67, 67);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
p{
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}
.tabela {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.linha{
    display: flex;
}
.vazio{
    height: 80px;
    width: 1682px;
    margin: 3px;
}
.vazio2 {
    height: 80px;
    width: 1048px;
    margin: 3px;
}
.vazio3{
height: 80px;
    width: 1053px;
    margin: 3px;
}
.vazioquadrado{
height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin: 3px;
}
.vaziolinha{
width: 1895px;
height: 37px;
}
.vazioelemento{
width: 727px;
height: 80px;
}
.quadrado{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    margin: 3px;
    border-radius: 5%;
}
.quadradoelemento{
width: 30px;
height:30px;
background-color: brown;
}
.numero{
    font-size: 15px;
    font-weight: bold;
}
.numeroAtom{
    font-size: 12px;
    font-weight: bold;
}
.naoMetais {
    background-color: rgb(23, 209, 103);
}
.gasNobres {
    background-color: rgb(42, 99, 185);
}
.metaisAlcalinos {
    background-color: rgb(194, 125, 22);
}
.metaisTerroso{
    background-color: gold;
}
.semiMetais{
background-color: rgb(59, 170, 180);
}
.Halogênio{
background-color:rgb(67, 200, 205);
}
.Outrosmetais{
background-color: rgba(49, 122, 126, 0.637);
}
.metaisdeTransição{
background-color: brown;
}
.Lantanídeos{
background-color: blueviolet;
}
.Actinídios{
    background-color:indianred;
}